/* Размеры элементов */
/* шрифты */
/* размеры шрифтов и высота-строки */
/* цвета */
/* бардовый */
@font-face {
  font-family: "CuprumBold";
  src: url("../fonts/Cuprum-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CuprumRegular";
  src: url("../fonts/Cuprum-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CuprumItalic";
  src: url("../fonts/Cuprum-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
/*  ------------- */
body {
  width: 1200px;
  margin: 0 auto;
}
.icon-search,
.icon-bookmark,
.icon-basket,
.icon-phone {
  opacity: .3;
  margin: 0;
  float: left;
  padding-right: 12.5px;
}
.icon-login {
  opacity: .3;
  margin: 0;
}
.icon-left,
.icon-right {
  font-style: normal;
  font-size: 45px;
  line-height: 18px;
  margin: 0;
}
.icon-left:before {
  float: left;
  margin: 0;
  text-align: left;
}
.icon-right:before {
  float: right;
  margin: 0;
  text-align: right;
}
.clearfix:after {
  display: table;
  content: '';
  clear: both;
}
.main-header {
  background-color: #f1f5f7;
  margin-bottom: 59px;
}
.top-menu {
  width: 1200px;
  background-color: #293449;
}
.top-menu__layout {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}
.logo {
  position: relative;
  float: left;
  width: 220px;
  padding: 9px 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font: bold 24px/24px "CuprumBold", Arial, sans-serif;
  color: #ffffff;
  background-color: #ee3643;
  /* border-bottom: 5px solid @color-claret; */
}
.rules {
  list-style-type: none;
  text-align: left;
  font: normal 17px/18px "CuprumRegular", Arial, sans-serif;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.rules a {
  color: #ffffff;
  text-decoration: none;
}
.rules div {
  padding: 12px 0;
}
.rules__search {
  float: left;
  text-align: left;
  margin-left: 14px;
  width: 150px;
}
.rules__tab {
  float: right;
  width: 153px;
}
.rules__basket {
  float: right;
  width: 138px;
}
.rules__issue-order {
  float: right;
  background-color: #63a63e;
  text-align: center;
  width: 150px;
}
.header-info {
  margin-bottom: 40px;
}
.header-info__layout {
  margin: 48.5px auto;
  padding: 0 10px;
  width: 940px;
}
.header-info__content {
  float: left;
  width: 200px;
  padding: 0 53px;
  text-align: left;
  margin: 0;
  font: italic 16px/23px "CuprumItalic", Arial, sans-serif;
  color: #ee3643;
}
.header-info__content p {
  text-align: left;
}
.contacts {
  float: right;
  width: 270px;
  padding: 0 10px;
  padding-right: 68px;
}
.contacts__phone {
  padding: 7.5px 0;
  font: normal 21px/21px "CuprumRegular", Arial, sans-serif;
  color: #e9292a;
  border: 3px solid #ffffff;
}
.contacts__address {
  padding-top: 3px;
  font: normal 14px/24px "CuprumRegular", Arial, sans-serif;
  color: #32425c;
  text-align: center;
}
.contacts .icon-phone {
  color: #000000;
  opacity: .3;
  font-size: 22px;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 34px;
}
.auth {
  float: right;
}
.auth a {
  display: inline-block;
  vertical-align: top;
}
.btn {
  padding: 10.5px 0;
  font: normal 21px/21px "CuprumRegular", Arial, sans-serif;
  color: #000000;
  border: 0;
  background-color: #ffffff;
}
.btn--signin {
  margin-right: 10px;
  width: 111px;
  text-align: left;
  padding-left: 10px;
}
.btn--signup {
  width: 150px;
  text-align: center;
}
.btn__service {
  width: 240px;
  text-align: left;
  font: bold 21px / 30px "CuprumBold", Arial, sans-serif;
  padding: 14.5px 0;
  padding-left: 23px;
  background-color: #32425c;
  color: #ffffff;
  border: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}
.btn__service--active {
  background-color: #ffffff;
  color: #32425c;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.main-menu__layout {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}
.main-menu__items {
  text-align: center;
  padding: 17px 0;
  margin-bottom: 60px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}
.main-menu__item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 56px;
}
.main-menu__item:last-child {
  margin-right: 0;
}
.main-menu a {
  font: normal 17px/21px "CuprumRegular", Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.top-block {
  font-size: 0;
  margin-bottom: 32px;
}
.top-block__layout {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}
.top-block__col1 {
  float: left;
  width: 610px;
}
.top-block__col2 {
  float: right;
  width: 300px;
}
.banner-card-goods {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 0;
  color: #ffffff;
}
.banner-card-goods__layout {
  margin: 0 43px 26px 25px;
  padding: 0;
}
.banner-card-goods:last-of-type {
  margin-right: 0;
}
.banner-card-goods--yellow {
  background-color: #f6b22d;
}
.banner-card-goods--blue {
  background-color: #4aafde;
}
.banner-card-goods--pink {
  background-color: #cc79d1;
}
.banner-card-goods--green {
  background-color: #85d179;
}
.banner-card-goods__content {
  float: left;
}
.banner-card-goods__header {
  font: bold 24px/24px "CuprumBold", Arial, sans-serif;
  margin-bottom: 15px;
}
.banner-card-goods__type {
  padding: 7px 0;
  width: 135px;
  text-align: center;
  font: normal 13px/24px "CuprumRegular", Arial, sans-serif;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.15);
  /* @color-brown; */
  border: 1px solid transparent;
  border-radius: 5px;
}
.banner-card-goods__image {
  float: right;
  display: block;
  padding-top: 27px;
  padding-bottom: 31px;
}
.slider {
  width: 622px;
  height: 266px;
  position: relative;
  color: #ffffff;
}
.slider__layout {
  padding: 0 25px;
}
.slider img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
.slider__header {
  width: 622px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 25px 0 23px 0;
  margin-bottom: 10px;
}
.slider__title {
  margin: 0;
  text-transform: uppercase;
  font: bold 36px / 33px "CuprumBold", Arial, sans-serif;
}
.slider__content {
  font: normal 18px / 24px "PTSansRegular", Arial, sans-serif;
  margin: 0;
}
.slider__control {
  margin-bottom: 44px;
}
.slider__control a {
  color: #ffffff;
}
.popular__layout {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}
.popular__header {
  background-color: #f7f3ec;
}
.popular__title {
  font: normal 30px / 30px "CuprumRegular", Arial, sans-serif;
  text-transform: uppercase;
  color: #32425c;
  float: left;
  margin: 0;
  padding: 29.5px 0;
  padding-left: 30px;
}
.popular__items {
  text-align: center;
  font-size: 0;
}
.btn-lnk {
  display: inline-block;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font: normal 14px / 18px "CuprumRegular", Arial, sans-serif;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #ee3643;
}
.btn-lnk--slider {
  width: 176px;
}
.btn-lnk--popular {
  float: right;
  margin: 26.5px 0;
  margin-right: 24px;
  width: 230px;
}
.goods {
  border: 1px solid #e5e5e5;
  width: 218px;
  height: 316px;
  text-align: center;
  margin: 20px;
  margin-left: 0;
  display: inline-block;
  vertical-align: top;
}
.goods:last-of-type {
  margin-right: 0;
}
.goods__layout {
  padding: 0 28px 0 31px;
}
.goods__image {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 6px;
  height: 164px;
  position: relative;
}
.goods__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.goods__title {
  font: bold 18px / 20px "PTSansBold", Arial, sans-serif;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}
.goods__price-old {
  font: bold 17px/18px "PTSansBold", Arial, sans-serif;
  color: #999999;
  text-decoration: line-through;
  margin: 0;
  margin-bottom: 12px;
}
.goods__price:after {
  width: 0;
  height: 0;
  border-bottom: 120px solid #293449;
  border-left: 120px solid transparent;
}
.goods__price {
  padding: 10px 0;
  width: 140px;
  margin: 0 auto;
  margin-bottom: 20px;
  font: bold 17px/18px "PTSansBold", Arial, sans-serif;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 5px 0 0 5px;
}
.brands__layout {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}
.brands__header {
  background-color: #f7f3ec;
  margin-bottom: 20px;
}
.brands__title {
  font: normal 30px / 30px "CuprumRegular", Arial, sans-serif;
  text-transform: uppercase;
  color: #32425c;
  float: left;
  margin: 0;
  padding: 29.5px 0;
  padding-left: 30px;
}
.brands__items {
  text-align: center;
  font-size: 0;
  padding: 0;
  margin-bottom: 65px;
}
.brands__item {
  position: relative;
  height: 143px;
  width: 218px;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #e7e7e7;
  display: inline-block;
  vertical-align: top;
}
.brands__item:nth-of-type(4n) {
  margin-right: 0;
}
.brands__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service {
  background-color: #f2f6f8;
}
.service__layout {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}
.service__header {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-bottom: 67px;
}
.service__header h2 {
  margin: 0;
  margin-top: 64px;
  margin-bottom: 28px;
  font: normal 30px / 24px "CuprumRegular", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}
.service__header p {
  margin: 0;
  width: 400px;
  text-align: justify;
  font: normal 13px / 24px "PTSansRegular", Arial, sans-serif;
  color: #000000;
}
.service__items {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 65px;
  margin-bottom: 102px;
  width: 240px;
  font: bold 21px / 30px "CuprumBold", Arial, sans-serif;
  list-style-type: none;
}
.service__about {
  float: right;
  width: 620px;
}
.service__about img {
  float: right;
  margin-top: 23px;
}
.service__col1 {
  float: left;
}
.service__col1 h4 {
  max-width: 300px;
  font: normal 36px/24px "MyriadProRegular", Arial, sans-serif;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 41px;
}
.service__col1 p {
  width: 300px;
  font: normal 13px/24px "PTSansRegular", Arial, sans-serif;
  color: #000000;
}
.service__col2 {
  float: right;
}
.information {
  padding-top: 82px;
}
.information__layout {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}
.information__col1 {
  float: left;
  width: 540px;
}
.information__col2 {
  float: right;
}
.information__header {
  margin: 0;
  margin-bottom: 29px;
  font: normal 30px/24px "CuprumRegular", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}
.information__content {
  margin: 0;
  margin-bottom: 23px;
  font: normal 13px/24px "PTSansRegular", Arial, sans-serif;
  color: #000000;
}
/*# sourceMappingURL=src/css/style.css.map */